smtpd_banner            =       "SMTP Server Ready"
myhostname              =       {{ hostname }}
mydomain                =       {{ domainname }}
inet_interfaces         =       all
inet_protocols          =       all
mynetworks              =       127.0.0.0/8, 192.168.1.1/28
mydestination           =       localhost
home_mailbox            =       Maildir/
smtpd_error_sleep_time  =       1s
smtpd_soft_error_limit  =       10
smtpd_hard_error_limit  =       20
smtpd_recipient_limit   =       500
address_verify_map      =       btree:/var/lib/postfix/address_verify
alias_database          =       hash:/etc/aliases
maximal_queue_lifetime  =       24h
bounce_queue_lifetime   =       16h
delay_warning_time      =       4h
header_checks           =       regexp:/etc/postfix/header_checks
notify_classes          =       bounce
bounce_notice_recipient =       bounce@{{ hostname }}
sender_bcc_maps         =       hash:/etc/postfix/bcc_map
recipient_delimiter = -
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_auth_enable = yes
smtpd_recipient_restrictions = permit_mynetworks,permit_sasl_authenticated,reject_unauth_destination
broken_sasl_auth_clients = yes
tls_random_source = dev:/dev/urandom
smtpd_tls_loglevel = 1
smtp_tls_security_level = may
smtpd_tls_loglevel = 1
smtpd_use_tls = yes
smtpd_tls_key_file =  {{ keypath }}
smtpd_tls_cert_file = {{ certpath }}
smtpd_tls_security_level = may
smtp_helo_timeout               = 600s
smtp_mail_timeout               = 600s
smtp_rcpt_timeout               = 600s
mail_owner                      = postfix
#-------Message size limited to 25 MB--------------------------#
message_size_limit              = 26214400
virtual_mailbox_domains = mysql:/etc/postfix/mysql-domains.cf
virtual_mailbox_maps = mysql:/etc/postfix/mysql-users.cf
virtual_mailbox_base = /home/vmail
virtual_uid_maps = static:1000
virtual_gid_maps = static:1000
readme_directory = /usr/share/doc/postfix-2.10.1/README_FILES
sample_directory = /usr/share/doc/postfix-2.10.1/samples
sendmail_path = /usr/sbin/sendmail
html_directory = no
setgid_group = postdrop
command_directory = /usr/sbin
manpage_directory = /usr/share/man
daemon_directory = /usr/libexec/postfix
newaliases_path = /usr/bin/newaliases
mailq_path = /usr/bin/mailq
queue_directory = /var/spool/postfix
data_directory = /var/lib/postfix
